<!DOCTYPE html>
<html>
<head>
	<title>add components</title>
</head>
<body>
	<h1>Add components</h1>

	<form method="post" >
		<table>
			<tr>
				<td>Categories</td>
				<td><select name = "categories">
                        <option value="Laptop">Laptop</option>
                        <option value="Desktop">Desktop</option>
                       
                      </select></td>
			</tr>
			<tr>
				<td>Company</td>
				<td><select name = "company">
                        <option value="ASUS">ASUS</option>
                        <option value="LG">LG</option>
                        <option value="Dell">Dell</option>
                        <option value="Dell">toshiba</option>
                        <option value="samsung">samsung</option>
                        <option value="toshiba">Dell</option>

                       
                      </select></td>
            </tr>
            <tr>
                    <td>Components</td>
                    <td><select name = "components">
                            <option value="RAM">RAM</option>
                            <option value="Monitor">Monitor</option>
                            <option value="Pendrive">Pendrive</option>
                            <option value="SSD">SSD</option>
                            <option value="HDD">HDD</option>
    
                           
                          </select></td>
                </tr>

                <tr>
                        <td>Description</td>
                        <td><input type="text" name="description" ></td>
                    </tr>
			<tr>
				
				<td></td>
				<td><input type="submit" name="submit" value="Submit"></td>
			</tr>
			
		</table>
	</form>
</body>
</html>